{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'manage.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div class="board">
        {% for ind in cells %}
        <div class="cell" data-index="{{ind}}"></div>
        {% endfor %}
    </div>
    <div class="result"></div>
</body>
</html>